<header>
  <h2>Welcome to Crowd Sports</h2>
</header>
<div class="main-content">
  <p>
    The time is now: <span><%= Time.now %></span>
  </p>
</div>
<footer>
  <span>&copy; 2018 Crowd Sports</span>
</footer>
